[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ project_name }}"
version = "0.1.0"
authors = [
    {name = "{{ author_name }}", email = "{{ author_email }}"},
]
description = "{{ project_description }}"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: {{ license }} License",
    "Operating System :: OS Independent",
]

dependencies = [
    # Example main dependency
    # "requests>=2.25.0",
]

[project.optional-dependencies]
# Test dependencies
test = [
    "pytest>=7.0.0",
    "pytest-cov>=3.0.0",
]
# Development dependencies
dev = [
    "black>=22.0.0",
    "flake8>=4.0.0",
]


[project.urls]
"Homepage" = "https://github.com/{{ author_name }}/{{ project_name }}"
"Bug Tracker" = "https://github.com/{{ author_name }}/{{ project_name }}/issues"
"Documentation" = "https://{{ author_name }}.github.io/{{ project_name }}"

[tool.setuptools.package-data]
"{{ module_name }}" = ["py.typed"]

[tool.setuptools]
package-dir = {"" = "."}
license-files = ["LICENSE"]

